<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo" [containerInside]="true">
  <mdb-navbar-brand>
    <a class="navbar-brand" routerLink="" routerLinkActive="active">Home</a>
  </mdb-navbar-brand>
  <links>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto mt-lg-0">
        <li class="nav-item " routerLink="users" routerLinkActive="active">
          <a class="nav-link">Users <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLink="posts" routerLinkActive="active">
          <a class="nav-link">Posts</a>
        </li>
      </ul>
    </div>
  </links>
</mdb-navbar>


