<!-- Default form contact -->
<form *ngIf="user" #form [formGroup]="postForm" (submit)="onSubmit()" class="text-center border border-light p-5">

  <p class="h4 mb-4">New Post</p>

  <!-- Title -->
  <div class="md-form">
    <input mdbInput type="text" id="defaultContactFormName" class="form-control mb-4" formControlName="titre"
           placeholder="Title">
    <div
      *ngIf="postForm.controls['titre'].invalid && (postForm.controls['titre'].dirty || postForm.controls['titre'].touched)">
      <mdb-error
        *ngIf="postForm.controls['titre'].errors.required">
        Title is required.
      </mdb-error>
      <mdb-error *ngIf="postForm.controls['titre'].errors.minlength">
        Title must be at least 4 characters long.
      </mdb-error>
    </div>


  </div>
  <!-- Email -->
  <div class="md-form">
    <input mdbInput type="text" id="defaultContactFormEmail" class="form-control mb-4" formControlName="date"
           placeholder="Date">
    <div
      *ngIf="postForm.controls['date'].invalid && (postForm.controls['date'].dirty || postForm.controls['date'].touched)">
      <mdb-error
        *ngIf="postForm.controls['date'].errors.required">
        body is required.
      </mdb-error>
    </div>
  </div>
  <div class="md-form">
    <figure class="figure">
      <img src="{{postForm.controls['img'].value}}" class="figure-img img-fluid z-depth-1"
           alt="..." style="width: 400px">
      <figcaption class="figure-caption">A caption for the above image.</figcaption>
    </figure>
  </div>
  <div class="md-form">
    <textarea type="text" class="md-textarea form-control" formControlName="data" mdbInputDirective
              placeholder="Body"></textarea>

    <div
      *ngIf="postForm.controls['data'].invalid && (postForm.controls['data'].dirty || postForm.controls['data'].touched)">
      <mdb-error
        *ngIf="postForm.controls['data'].errors.required">
        data is required.
      </mdb-error>
    </div>


  </div>

  <!-- Send button -->
  <button [disabled]="postForm.invalid" class="btn btn-info " type="submit">Create</button>
  <button class="btn btn-info " (click)="reset()">Reset</button>

</form>
